django>=4.2,<5.0 #instala Django
openpyxl>=3.1 #instala openpyxl (libreria) para manipular arquivos Excel
whitenoise>=6.6 #sirve los archivos estáticos en producción
gunicorn>=21.0 #es un servidor WSGI para aplicaciones Python, recomendado para producción
python-decouple>=3.8 #permite manejar configuraciones sensibles (como claves secretas) a través de variables de entorno