<!--Esta es la plantilla de login, donde los usuarios ingresan su nombre de usuario y contraseña para acceder a la aplicación.  -->
<!-- Es una página sencilla con un formulario centrado en la pantalla. No extiende la plantilla base porque no queremos mostrar el menú ni el footer en esta página. -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <title>Login — Gastos Familiares</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4">💰 Gastos Familiares</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Usuario</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contraseña</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center mt-3 text-white">
    ¿No tienes cuenta? 
    <a href="{% url 'registro' %}">Regístrate</a>
</p>
</body>
</html>